$pink: #f72585;
$blue: #220b93;
$purple: #480ca8;
$purple-light: #600ebf;
$text-primary: rgb(255, 255, 255);

$max-width: 114rem; /* 1140px */

// screen sizes
$xl-screen: 119.9875em; // 1920px -0.2px
$lg-screen: 74.9875em; // 1200px -0.2px
$md-screen: 61.9875em; // 992px -0.2px
$sm-screen: 47.9875em; // 768px -0.2px
$xs-screen: 35.9875em; // 576px -0.2px
$xxs-screen: 20em; // 320px

$footer-height: 5rem;

$gap-lg: 5rem;
$gap-md: 2.5rem;
$gap-sm: 1rem;
